/* Add margin to the registration form so it doesn't overlap the navbar */
.registration-form {
    margin-top: 20px;
  }
  
  .p-menubar {
    background-color: #2196F3;
  }
  
  .p-menubar .p-menubar-start span {
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  
  .p-menubar .p-button-text {
    margin-right: 10px;
  }
  
  button {
    margin-left: 10px;
  }
  